<div class="container">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div ng-if="messages.error" role="alert" class="alert alert-danger">
                    <div ng-repeat="error in messages.error">{{error.msg}}</div>
                </div>
                <form ng-submit="checkCynoPilot()" class="form-horizontal">
                    <legend>Check to see if pilot is a cyno</legend>
                    <div class="form-group">
                        <label for="name" class="col-sm-3">Character Name</label>
                        <div class="col-sm-7">
                            <input type="text" name="name" id="name" class="form-control" ng-model="character.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-success">Check Character</button>
                        </div>
                    </div>
                    <div ng-if="cyno_data.is_cyno == false" role="alert" class="alert alert-danger">
                        <h2>NO CYNO</h2>
                    </div>
                    <div ng-if="cyno_data.is_cyno == true" role="alert" class="alert alert-success">
                        <h2>MOTHAFUCKIN CYNO</h2>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-show="battle_summary">
        <div class="panel">
            <div class="panel-body">
                <h3 style="text-transform: uppercase;">{{hot_drop_corp}} VS. {{victim_corp}} on
                    {{cyno_data.kill_time}}</h3>
                <div class="horizontal-divider"></div>

                <div class="col-md-6" style="padding-top: 10px;">
                    <div class="col-md-10 kill_card" style="background-color: #ffffff; height: 75px; margin-bottom: 10px;" ng-repeat="ship in team_b.list">
                        <span>Character : {{ship.characterName}}</span>
                        <br/>
                        <span>Ship : {{ship.shipName}}</span>
                        <br/>
                        <span>Corp : {{ship.corporationName}}</span>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 10px;">
                    <div class="col-md-10 kill_card"  id="{{ship.characterID}}" ng-repeat="ship in team_a.list">
                        <span>Character : {{ship.characterName}}</span>
                        <br/>
                        <span>Ship : {{ship.shipName}}</span>
                        <br/>
                        <span>Corp : {{ship.corporationName}}</span>
                    </div>
                </div>
                <a href="{{cyno_data.kill_mail_id}}" target="_blank" role="button" class="btn btn-default">View Kill Details</a>
            </div>
        </div>
    </div>
</div>
