<div class="container-fluid">
  <div class="row" id="grow" ng-repeat="grow in current_grows">
    <div class="col-sm-10 col-xs-offset-1">
      <div class="panel">
        <div class="panel-body">
          <h3>{{grow.grow_name}}</h3>
          <span>Environment : {{grow.environment}}</span>
          <div class="horizontal-divider"></div>

          <div class="row">
            <div class="col-md-2" id="{{vitals._id}}" ng-repeat="vitals in grow.grow_items">
              <div class="radial" id="{{'plant' + vitals.plant_id + $index}}" ng-repeat=" vital in vitals.plant_vitals track by $index"></div>
            </div>
          </div>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>

</div>
