<div class="container-fluid">
    <h3>Last Updated : {{insights[0].last_updated}}</h3>
    <div class="row">
        <div class="col-sm-4" ng-repeat="kill in insights track by $index">
            <div class="panel">
                <div class="panel-body">
                    <h3 style="text-transform: uppercase;">{{kill.system_name}} : <span>{{system.security_status | number : 1}}</span></h3>
                    <div class="horizontal-divider"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="radial" id="{{'plant' + vitals.plant_id + $index}}" ng-repeat=" vital in vitals.plant_vitals track by $index"></div>-->
                            <span>Time: {{kill.killmail_time}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="radial" id="{{'plant' + vitals.plant_id + $index}}" ng-repeat=" vital in vitals.plant_vitals track by $index"></div>-->
                            <span># Involved : {{kill.attackers.length}}</span>
                        </div>
                    </div>
                    <a href="#" role="button" class="btn btn-default">View details</a>
                </div>
            </div>
        </div>
    </div>
</div>
