<div class="container">
    <div class="panel">
        <div class="panel-body">
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <div ng-if="messages.success" role="alert" class="alert alert-success">
                <div ng-repeat="success in messages.success">{{success.msg}}</div>
            </div>
            <form ng-submit="newSystem()" class="form-horizontal">
                <legend>Add a new system to monitor</legend>
                <div class="form-group">
                    <label for="name" class="col-sm-3">System Name</label>
                    <div class="col-sm-7">
                        <input type="text" name="name" id="name" class="form-control" ng-model="system.name">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3">Environment</label>-->
                    <!--<div class="col-sm-4">-->
                        <!--<label class="radio-inline radio col-sm-4">-->
                            <!--<input type="radio" ng-model="grow.environment" value="indoors"><span>Indoors</span>-->
                        <!--</label>-->
                        <!--<label class="radio-inline col-sm-4">-->
                            <!--<input type="radio" ng-model="grow.environment" value="outdoors"><span>Outdoors</span>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="plant" class="col-sm-3">Plant</label>-->
                    <!--<div class="col-sm-7">-->
                        <!--<input type="text" name="plant" id="plant" class="form-control" ng-model="grow.plants">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-success">Add System</button>
                    </div>
                </div>
            </form>
        </div>
    </div>






</div>
